= form_for @user do |f|

	- if @user.errors.any?
		#error_explanation
			%h3 #{pluralize(@user.errors.count, "error")} prohibited this user from being saved:

			%ul
				- @user.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :first_name
		= f.text_field :first_name, class: "form-control"

	.form-group
		= f.label :last_name
		= f.text_field :last_name, class: "form-control"

	.form-group
		= f.label :username
		= f.text_field :username, class: "form-control"

	.form-group
		= f.label :email
		= f.text_field :email, class: "form-control"

	.form-group
		= f.label :password
		= f.password_field :password, class: "form-control"

	.form-group
		= f.label :password_confirmation
		= f.password_field :password_confirmation, class: "form-control"


	= f.submit "Submit", class: "btn btn-success"