.login_container
	.login
		= render "blogr/shared/messages"
		= image_tag "blogr/logo.png", class: "logo"
		= form_tag sessions_path, class: "form-inline" do
			%p= text_field_tag :username, params[:username], "autocorrect" => "off", "autocapitalize" => "off", placeholder: "Username", class: "form-control"
			%p= password_field_tag :password, nil, placeholder: "Password", class: "form-control"
			%p= submit_tag "Sign In"