<%= content_for :before do %>
  <%= stylesheet_link_tag 'simpleblog/posts' %>
<% end %>

<%= content_for :after do %>
  <%= javascript_include_tag 'simpleblog/posts' %>
<% end %>


<%= form_for(@post, url: [:admin, @post], html: { multipart: true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'input-xxlarge' %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, rows: 40, style: "width:100%" %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, [['Draft', 'draft'], ['Public', 'public']] %>
  </div>

  <div class="field">
    <%= f.label :publish_at %><br>
    <%= f.text_field :published_at, class: :datepicker %>
  </div>
  
  <div class="field">
    <%= f.label :categories %>

    <ul class="post-categories">
      <%= f.collection_check_boxes :categories, Simpleblog::Category.all, :id, :title do |c| %>
        <% attr = check_category(@post, c.object) %>
        <li>
          <%= c.check_box attr%>
          <%= c.label %>
        </li>


      <% end %>
    </ul>
  </div>

  <div class="field well">
    <%= file_field :image, :file %>
  </div>

  <div class="field">
    <h3> Images </h3>
    <div class="row-fluid">
      <ul class="thumbnails">
        <% @post.images.each do |image| %>
          <li>
          <%=image_tag image.file.url(:thumb) %>
          <div class="caption">
            <br/>
            <div> <%= link_to 'Delete', "?delete_image=#{image.id}", class: 'btn btn-danger btn-small'%>
            <div> <%= link_to "medium", image.file.url(:medium), target: :blank %> </div>
            <div> <%= link_to "big", image.file.url(:big), target: :blank %> </div>
          </div>
          <li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>



  <br>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-success' %>
  </div>


<% end %>
