!!!
%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}/
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
		%title #{@title} - Blogr
		= stylesheet_link_tag    "blogr/application"
		= javascript_include_tag "blogr/application"
		= csrf_meta_tags

	%body
		/ %header
		/ 	.container
		/ 		= link_to "Blogr", root_path
		/ 		.pull-right
		/ 			%p Logged in as #{link_to "Someone"}. #{link_to "Log Out"}.

		%section.sidebar
			.logo
				%h1= link_to "Blogr", root_path
			.user
				.name Maurice Moss
				= image_tag "http://i.embed.ly/1/display/crop?url=http%3A%2F%2Fstatic.bips.channel4.com%2Fbips%2F520x390%2Fthe-it-crowd%2Fcharacters%2Ff2e6d121-d965-4a09-ab66-dbaa41290467.jpg&width=250&key=92b31102528511e1a2ec4040d3dc5c07&height=250", class: "avatar"

		%section.main
			/ .header
			/ 	%ul.nav.nav-pills.pull-right
			/ 		= active_link_to "Posts", posts_path, wrap_tag: :li
			/ 		= active_link_to "Categories", categories_path, wrap_tag: :li
			/ 		= active_link_to "Tags", tags_path, wrap_tag: :li

			/ 	.logo= link_to image_tag("blogr/logo.png"), root_path
			/ 	.version v#{Blogr::VERSION} #{link_to "View Site", main_app.root_path, class: "site"}

			/ .page-header
			/ 	.links= yield :links
			/ 	%h2 #{@title} <small>#{@subtitle}</small>
			
			.content= yield

			.footer
				%p.pull-right Powered by #{link_to "Blogr", "https://github.com/blogr/engine"} v#{Blogr::VERSION}
				%p &copy; Blogr #{Time.now.year}

	- if Rails.env.development?
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>