!!!
%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}/
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
		%title #{@title} - Blogr
		= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
		= stylesheet_link_tag    "blogr/application"
		= javascript_include_tag "blogr/application"
		= csrf_meta_tags

	%body{class: "blogr #{controller.controller_name} #{controller.action_name}"}

		%section.sidebar
			.logo
				%h1= link_to "Blogr", root_url
				.version= link_to "v#{Blogr::VERSION}", "https://github.com/blogr/engine"
			.user
				= gravatar(current_blogr_user.email, {size: 50, class: "avatar"})
				.name= current_blogr_user.name
				%small.logout= link_to "Log Out", logout_path
			%ul.nav
				%li= link_to raw("#{content_tag(:i, '', class: 'batch batch-arrow-left')} View Site"), main_app.root_url
				%li= link_to raw("#{content_tag(:i, '', class: 'batch batch-document')} Blogr Documentation"), "https://docs.voupe.com/blogr/"
			%ul.nav
				= active_link_to raw("#{content_tag(:i, '', class: 'batch batch-home')} Dashboard"), root_path, active: [["dashboard"], ["index"]], wrap_tag: :li
				= active_link_to raw("#{content_tag(:i, '', class: 'batch batch-list')} Posts"), posts_path, wrap_tag: :li
				= active_link_to raw("#{content_tag(:i, '', class: 'batch batch-tag-alt')} Categories"), categories_path, wrap_tag: :li
				= active_link_to raw("#{content_tag(:i, '', class: 'batch batch-tag')} Tags"), tags_path, wrap_tag: :li
				= active_link_to raw("#{content_tag(:i, '', class: 'batch batch-users')} Users"), users_path, wrap_tag: :li
				= active_link_to raw("#{content_tag(:i, '', class: 'batch batch-speech-chat-left')} Comments"), comments_path, wrap_tag: :li

		%section.main
			%header
				%span.icon
				%h3 #{@title} <small>#{@subtitle}</small>
				.links.pull-right= yield :links

			.messages= render "blogr/shared/messages"
			
			.content= yield

			%footer
				%p.pull-right Powered by #{link_to "Blogr", "https://github.com/blogr/engine"} v#{Blogr::VERSION}
				%p &copy; Blogr #{Time.now.year}

	- if Rails.env.development?
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>