!!!
%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}/
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
		%title #{@title} - Blogr
		= stylesheet_link_tag    "blogr/application"
		= javascript_include_tag "blogr/application"
		= csrf_meta_tags

	%body
		.container
			.header
				%ul.nav.nav-pills.pull-right
					= active_link_to "Posts", posts_path, wrap_tag: :li
					= active_link_to "Categories", categories_path, wrap_tag: :li
					= active_link_to "Tags", tags_path, wrap_tag: :li

				.logo= link_to image_tag("blogr/logo.png"), root_path
				.version v#{Blogr::VERSION} #{link_to "View Site", main_app.root_path, class: "site"}

			.page-header
				.links= yield :links
				%h2 #{@title} <small>#{@subtitle}</small>
			
			.content= yield

			.footer
				%p.pull-right Powered by #{link_to "Blogr", "https://github.com/blogr/engine"} v#{Blogr::VERSION}
				%p &copy; Blogr #{Time.now.year}