!!!
%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}/
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
		%title Login - #{Blogr.config.name}
		= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
		= stylesheet_link_tag    "blogr/application"
		= javascript_include_tag "blogr/application"
		= csrf_meta_tags

	%body{class: "blogr login"}
		= yield

	- if Rails.env.development?
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>