= form_for(@post, html: { multipart: true }) do |f|
	- if @post.errors.any?
		#error_explanation
			%h3 #{pluralize(@post.errors.count, "error")} prohibited this post from being saved:

			%ul
				- @post.errors.full_messages.each do |msg|
					%li= msg

	.row
		.col-md-8
			= f.label :title
			= f.text_field :title, class: "form-control"
		.col-md-4
			= f.label :category
			= f.select :category_id, Blogr::Category.all.collect {|p| [ p.title, p.id ]}, {include_blank: ""}, class: "form-control"

	.form-group
		<label>Permalink</label>
		.input-group
			%span.input-group-addon #{Blogr.config.host}<span class="category"></span>/
			= f.text_field :permalink, class: "form-control"

	.form-group
		#{f.label :content} - #{link_to "Markdown Enabled", "http://whatismarkdown.com"}
		= f.text_area :content, rows: 10, style: "width:100%", class: "form-control"

	.form-group
		= f.label :tag_list
		= f.text_field :tag_list, placeholder: "Tags - seperate by commas", class: "form-control"

	.row
		.col-md-4
			= f.label :published
			.checkbox
				%label
					#{f.check_box :published} Published
		.col-md-4
			= f.label :publish_at
			= f.text_field :published_at, class: "datepicker form-control"

	.form-group{style: "margin-top: 20px"}
		= f.submit "Submit", class: "btn btn-success"