<h2>Posts</h2>
<%= link_to 'Create new', new_post_path, class: 'btn btn-primary' %>
<br>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.published %></td>
        <td><%= post.date_parsed %></td>
        <td><%= link_to 'Show', post_path(post), class: '' %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn btn-small' %></td>
      </tr>
    <% end %>

  </tbody>
</table>