<p id="notice"><%= notice %></p>


<h2> <%= @post.title %> </h2>

<p>
  <%= @post.content.html_safe %>
</p>

<div class="well well-small">
  <%= @post.categories.collect{|c| c.title }.join(',') %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
